$font_base: #000;
$black: #000;
$main: #0B0083;
$white: #ffffff;
$yellow: #FCD43C;
$bg_blue: #EDF3F7;

$font: "Noto Sans JP", sans-serif;
$century: "century-gothic", sans-serif;

$duration: .3s;
$opacity: .7;